/* 跑馬燈 */

.marquee {
    animation: marquee 12s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.float {
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0%);
    }
}

.scale {
    animation: scale 1.25s infinite ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}