.pdSelect {
    width: 17%;
    height: 6%;
    font-size: 30px;
    padding-left: 2%;
    font-weight: 600;
    font-family: 'Noto Sans TC', sans-serif;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 40px;
}

#TeikiValue.pdSelect {
    position: absolute;
    top: 29.8%;
    right: 12%;
}

#SingleValue.pdSelect {
    position: absolute;
    top: 33.8%;
    right: 12%;
}

.Offer .Product_teiki {
    width: 62%;
    position: absolute;
    bottom: 31%;
    left: 5.5%;
}

.Offer .Product_single {
    width: 64%;
    position: absolute;
    bottom: 23%;
    left: 4.8%;
}

.Offer .OfferBtn_teiki {
    width: 25%;
    position: absolute;
    top: 57.5%;
    right: 5.5%;
    cursor: pointer;
}

.Offer .OfferBtn_single {
    width: 25%;
    position: absolute;
    top: 64%;
    right: 4.5%;
    cursor: pointer;
}

.moreBtn {
    width: 78%;
    position: absolute;
    bottom: 9%;
    left: 10%;
}

#cart {
    display: none;
}

@media (max-width:1000px) {
    .pdSelect {
        font-size: max( 3vw, 12px);
        background-size: 5vw;
        background-position: right .2rem center;
    }
}

.cart_breadcrumb {
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 28%;
    left: 8%;
    font-size: 40px;
    letter-spacing: 1px;
    color: #8f8f8f;
}

.cart_breadcrumb .home {
    font-size: 45px;
    letter-spacing: 2px;
    color: #E12A48;
    text-decoration: underline;
    cursor: pointer;
}

#AllValue.pdSelect {
    position: absolute;
    top: 33.8%;
    right: 8%;
    width: 33%;
    height: 4.5%;
}

.Offer .Product_cart {
    /* background: #000; */
    width: 95%;
    height: 20.8%;
    position: absolute;
    top: 42.5%;
    left: 2.5%;
    padding: 2% 1% 2% 4%;
}

.Offer .Product_cart img {
    /* width: 100%; */
    height: 100%;
    width: auto;
}

.submitBtn {
    width: 55%;
    position: absolute;
    bottom: 20.5%;
    left: 22%;
}

.returnBtn {
    width: 55%;
    position: absolute;
    bottom: 7%;
    left: 22%;
    cursor: pointer;
}

.submitBtn:hover,
.returnBtn:hover {
    transform: translateY(5%);
    transition: all .3s;
}

@media (max-width:1000px) {
    .cart_breadcrumb {
        font-size: max( 4vw, 12px);
        letter-spacing: .5px;
    }
    .cart_breadcrumb .home {
        font-size: max( 4.5vw, 12px);
        letter-spacing: .5px;
    }
}

#lp_form {
    display: none;
}